/* --- Nano Menu --- */
.nano-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: var(--nano-bg-color);
    box-sizing: border-box;
    display: flex;
}

.nano-menu-vertical {
    flex-direction: column;
    width: 100%;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.nano-menu-horizontal {
    flex-direction: row;
    height: 100%;
    align-items: center;
    min-width: max-content;
    overflow: visible;
    white-space: nowrap;
}
/* --- Nano Menu --- */
