/* --- Nano Sub Menu --- */
.nano-submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nano-submenu__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--nano-text-color-regular);
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
    box-sizing: border-box;
    width: 100%;
}

.nano-submenu__title:hover {
    background-color: var(--nano-color-primary-light-9);
    color: var(--nano-color-primary);
}

.nano-submenu__title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.nano-submenu.is-active .nano-submenu__title {
    color: var(--nano-color-primary);
    font-weight: 600;
}

.nano-submenu__arrow {
    font-size: 10px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    margin-left: 8px;
}

.nano-submenu__arrow.is-open {
    transform: rotate(180deg);
}

.nano-submenu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--nano-bg-color);
}

.nano-submenu__list .nano-menu-item,
.nano-submenu__list .nano-submenu .nano-submenu__title {
    padding-left: 40px !important;
}

.nano-submenu__list .nano-submenu__list .nano-menu-item,
.nano-submenu__list .nano-submenu__list .nano-submenu .nano-submenu__title {
    padding-left: 55px !important;
}
/* --- Nano Sub Menu --- */