::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    isolation: isolate;
}

::view-transition-new(root) {
    overflow: clip;
}

:root:not(.dark)::view-transition-old(root) { z-index: 1; }
:root:not(.dark)::view-transition-new(root) { z-index: 100; }

.dark::view-transition-old(root) { z-index: 1; }
.dark::view-transition-new(root) { z-index: 100; }

::view-transition-old(root) { z-index: 1; }
::view-transition-new(root) { z-index: 100; }