:root {
    --nano-color-primary: #4F46E5;

    --nano-color-primary-light-1: #5E56E8;
    --nano-color-primary-light-2: #6D67EB;
    --nano-color-primary-light-3: #7C77EE;
    --nano-color-primary-light-4: #8B87F1;
    --nano-color-primary-light-5: #9B97F4;
    --nano-color-primary-light-6: #AAA7F7;
    --nano-color-primary-light-7: #B9B7FA;
    --nano-color-primary-light-8: #C8C7FD;
    --nano-color-primary-light-9: #EEF2FF;

    --nano-color-primary-dark-1: #463ECE;
    --nano-color-primary-dark-2: #3E38BF;
    --nano-color-primary-dark-3: #3531AF;
    --nano-color-primary-dark-4: #2D299F;
    --nano-color-primary-dark-5: #25228E;
    --nano-color-primary-dark-6: #1C1A7E;
    --nano-color-primary-dark-7: #14136E;
    --nano-color-primary-dark-8: #0B0B5E;
    --nano-color-primary-dark-9: #03034E;

    --nano-color-success: #10B981;
    --nano-color-warning: #F59E0B;
    --nano-color-danger: #EF4444;
    --nano-color-info: #6B7280;

    --nano-text-color-primary: #111827;
    --nano-text-color-regular: #374151;
    --nano-text-color-secondary: #6B7280;

    --nano-border-color: #D1D5DB;
    --nano-border-color-light: #E5E7EB;
    --nano-bg-color: #FFFFFF;

    --nano-disabled-bg-color: #F3F4F6;
    --nano-disabled-border-color: #E5E7EB;
    --nano-disabled-text-color: #9CA3AF;
    --nano-icon-color: #9CA3AF;
    --nano-icon-hover-color: #4B5563;

    --nano-tooltip-bg-color: #303133;
    --nano-tooltip-text-color: #ffffff;
    --nano-tooltip-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    --nano-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

html.dark {
    --nano-color-primary: #6366F1;
    --nano-color-primary-light-9: #312E81;

    --nano-text-color-primary: #F9FAFB;
    --nano-text-color-regular: #D1D5DB;
    --nano-text-color-secondary: #9CA3AF;

    --nano-bg-color: #1F2937;
    --nano-border-color: #4B5563;
    --nano-border-color-light: #374151;

    --nano-disabled-bg-color: #374151;
    --nano-disabled-border-color: #4B5563;
    --nano-disabled-text-color: #6B7280;
    --nano-icon-color: #9CA3AF;
    --nano-icon-hover-color: #E5E7EB;

    --nano-tooltip-bg-color: #4c4d4f;
    --nano-tooltip-text-color: #ffffff;
}